@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #7e7eff, #b5b5ff);
    }

    section{
        width: 80dvw;
    }

    #imagem{
        float: left;
        height: 100%;
        width: 30%;
    }

    #formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #7e7eff, #b5b5ff);
    }
    
    section{
        width: 950px;
    }

    #imagem{
        width: 40%;
        height: 100%;
        float: left;
    }

    #formulario{
        float: right;
        width: 60%;
    }
}